    @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
    a {
      color: #000747;
      text-decoration: none;
    }
    
    a:hover {
      color: #69D2E7;      ;
      text-decoration: none;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Josefin Sans', sans-serif;
    }
  
  #header {
      z-index: 997;
      transition: all 0.5s;
      padding: 1px 0;
      background: #69D2E7
      ;
    }
   
    #header .logo h1 {
      font-size: 45px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: 700;
      letter-spacing: 1px;
    }
    
    #header .logo h1 a{
      color: #000747;
      text-decoration: none;
    }
    
    #header .logo img {
      padding: 0;
      margin: 0;
      max-height: 40px;
    }
  
    .navbar {
      padding: 0;
    }
    
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: left;
    }
    
    .navbar li {
      position: relative;
    }
    
    .navbar a{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-size: 15px;
      font-weight: 400;
      color: #555555;
      white-space: nowrap;
      transition: 0.3s;
    }
    
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #000747;
    }
    
    .navbar .dropdown ul {
      display: block;
      position: absolute;
      left: 30px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: #69D2E7;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: 0.3s;
      border-radius: 4px;
    }
    
    .navbar .dropdown ul li {
      min-width: 200px;
    }
    
    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 14px;
    }
    
    .navbar .dropdown ul a i {
      font-size: 12px;
    }
    
    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
      color:#69D2E7;      ;
    }
    
    .navbar .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
    
    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
    
    .navbar .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
    
    @media (max-width: 1366px) {
      .navbar .dropdown .dropdown ul {
        left: -90%;
      }
    
      .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
      }
    }
    
  .gradient-custom-2 {
    background:#000747;
  ;
    }
    
    h1 .title{
        color: #000747;
    }
  
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
  }
  
  #hero {
      width: 100%;
      height: 70vh;
      margin-top: 100px;
    }
    
    #hero h1 {
      margin: 0 0 10px 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      color: #69D2E7;      ;
    }
    
    #hero h2 {
      color: rgb(0, 0, 0);
      margin-bottom: 50px;
      font-size: 24px;
    }
    
    #hero .btn-price {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 16px;
      width: 30%;
      letter-spacing: 1px;
      display: inline-block;
      padding: 10px 30px;
      border-radius: 50px;
      transition: 0.5s;
      color: #fff;
      border: 2px solid #69D2E7;
    }
    
    #hero .btn-price:hover {
      background: #69D2E7;
      color: #fff;
    }
    
    #hero .animated {
      animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }
    
    @media (min-width: 1024px) {
      #hero {
        background-attachment: fixed;
      }
    }
    
    @media (max-width: 991px) {
      #hero {
        height: 100vh;
      }
    
      #hero .animated {
        -webkit-animation: none;
        animation: none;
      }
    
      #hero .hero-img {
        text-align: center;
      }
    
      #hero .hero-img img {
        width: 50%;
      }
    }
    
    @media (max-width: 768px) {
      #hero {
        margin-top: 20px;
      }
    
      #hero h1 {
        font-size: 28px;
        line-height: 36px;
      }
    
      #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
      }
    
      #hero .hero-img img {
        width: 70%;
      }
    }
    
    @media (max-width: 575px) {
      #hero .hero-img img {
        width: 80%;
      }
    }
    
    @-webkit-keyframes up-down {
      0% {
        transform: translateY(10px);
      }
    
      100% {
        transform: translateY(-10px);
      }
    }
    
    @keyframes up-down {
      0% {
        transform: translateY(10px);
      }
    
      100% {
        transform: translateY(-10px);
      }
    }
    
    section {
      padding: 60px 0;
      overflow: hidden;
    }
    
    .section-title {
      text-align: center;
      padding-bottom: 30px;
    }
    
    .section-title h2 {
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      color: #69D2E7;
    }

    .section-title h2::before,
    .section-title h2::after {
      content: "";
      width: 50px;
      height: 2px;
      background: #000747;
      display: inline-flex
    }
    
    .section-title h2::before {
      margin: 0 15px 10px 0;
    }
    
    .section-title h2::after {
      margin: 0 0 10px 15px;
    }
    
    .section-title p {
      margin: 15px 0 0 0;
    }

    

/* Section 3 - Portofolio */
.project-left-1{
   float: left;
}
.text-right-1{
    float:right;
    padding-right: 7%;
    font-family: 'Source Serif Pro', serif;
    
}
#bg-card-1{
    background-color: rgb(184, 158, 190);
}
.text-left-2{
    text-align: right;
    float: left;
    padding-left: 5%;
    font-family: 'Source Serif Pro', serif;
}

.img-right-2{
    float: right;
}
#bg-card-2{
    background-color:rgb(86, 62, 85);
    margin-bottom: 6%;
}
.project-1{
  margin-top: -5%;
}
.img-left-3{
    float: left;
    /* margin-top: 25%; */
}
.text-right-3{
    float: right;
    /* margin-top: 6%; */
    padding-right: 8%;
    font-family: 'Source Serif Pro', serif;
}
#bg-card-3{
    background-color: rgb(225, 152, 163);
}
/* Section 3 */
.carousel{
    background-color:#69D2E7;
}
.h2{
    text-align: center;
    padding-bottom: 50px;
    color: aliceblue;
    font-family: 'Source Serif Pro', serif;
    
}
.main-img{

    border-radius: 10px;
}
.second-img{
    border-radius: 8px;
    margin-top: 20px;
   
}
/* Content left */
.content-left{
    float: left;
    margin-top: 15%;
    margin-bottom: 10%;
   
}
/* Content Right */
.content-right{
    float: right;
    margin-right: 3%;
    margin-top: 5%;
    
    /* margin-bottom: 10%; */
    /* padding-right: 120px; */
}

#card-body {
    background-color:#69D2E7; 
}
#text-title{
    font-size:xx-large;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
.text-card{
    font-weight: lighter;
    font-size:4mm;
    opacity: 0.5;
    font-family: 'Josefin Sans', sans-serif;
    /* color: #C6D4E1; */
}
.btn {
    background: linear-gradient(270deg, #2A86FF 0%, #9AD1F1 83.85%);
    border: 2px solid #33CCCC;   
}
.content-left-2{ 
    float: left; 
}
.text-content-3 {
    padding-top: 11%;
    font-size:xx-large;
    font-weight:bold;
    font-family: 'Josefin Sans', sans-serif;
}

.content-right-2{
    float: right;
    padding-top: 6%;
    /* padding-bottom: 15%; */
}
.text-second {
    font-weight: lighter;
    font-family: 'Josefin Sans', sans-serif;
}
#background-white1 {
    background-color: white;
}
.img-center{
    padding-left: 50%;
    position: absolute;
    
}

#bg-card{
    background-color: #F38630;
}
.image-right{
    padding-top: 80px;
    float: right;
}
#see {
    /* float: right; */
    margin-top: 25%;
    margin-bottom: 6%;
    text-align: center;
}

/* Section 4 */
.card-left-sec4{
    float: left;
    padding-top: 6%;
}
.card-right-sec4{
    float: right;
    padding-top: 6%;
    padding-right: 5%;
    margin-bottom: 6%
}
.text-1{
    color:#3F3D56;
    font-family: 'Source Serif Pro', serif;
    font-weight: bolder;
    font-size: xx-large;
}
span{
    color: lightsalmon;
}
.text-2{
    color: #1c323e;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    font-weight: bolder;
    padding-bottom: 2%;

}
.text2-contact{
    color: #3F3D56;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.form-label {
    color: #3F3D56;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
}
.form-control{
    color: #C6D4E1;
}
/* Footer */
#footer{
    background-color: #69D2E7;
    width: 100%;
    
}


/* Section 3 */
.content-work {
  margin: 0 auto;
  padding: 0 auto;
}
.card-share{
  display: flex;
  width: 1180px;
  height: 390px;
  margin: 70px 0;
}
.card-1, .card-3{
  flex-direction: row;
  padding-right: 6%;
}
.card-2, .card-4{
  flex-direction: row-reverse;
  padding-right: 6%;
}

.images{
  height: 390px;
  width: 587px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image1{
  background: rgba(240, 149, 50, 1);
}
.image2{
  background: rgba(140, 50, 240, 1);
}
.image3{
  background: rgba(231, 53, 135, 1);
}
.image4{
  background: rgba(50, 214, 240, 1);
}
.image2 img{
  margin-top: 25px;
}
.image3 img{
  margin-top: 65px;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.see{
  height: 40px;
  width: 140px;
  color: white;
  background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
  font-family: Basic;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  border: none;
}
.tkiri{
  text-align: left;
}
.tkanan{
  text-align: right;
}
.text-content h2{
  font-family: Basic;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  margin-bottom: 16px;
}
.text-content h6{
  font-family: Basic;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3px;
  margin-bottom: 50px;
}
.text-content p {
  font-family: Basic;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }

  .card-share{
      width: 696px;
      height: 250px;
      margin: 20px 0;
  }
  .title{
      margin-bottom: 50px;
  }
  .images{
      width: 300px;
      height: 250px;
  }
  .text-content{
      height: 250px;
  }
  .image1 img{
      width: 250px;
      height: 200px;
  }
  .text-content h2{
      font-size: 20px;
  }
  .text-content h6{
      font-size: 14px;
      margin-bottom: 25px;
  }
  .text-content p{
      font-size: 10px;
  }

  .image2 img{
      width: 220px;
      height: 200px;
      margin-top: 50px;
  }
  .image3 img{
      width: 300px;
      height: 170px;
      margin-top: 14px;
  }
  .image4 img{
      width: 290px;
      height: 170px;
      margin-top: 10px;
  }
  .see{
      width: 120px;
      height: 40px;
      font-size: 10px;
  }
}
@media screen and (max-width: 576px) {
  .card-share{
      width: 540px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
  }
  .card-1, .card-2, .card-3, .card-4{
      flex-direction: column;
  }
  .title h1{
      font-size: 40px;
  }
  .text-content{
      margin-top: 5px;
      width: 400px;
      height: auto;
      margin-left: 20px;
      margin-bottom: 10px;
      text-align: center;
  }
  .text-content h2{
      margin-bottom: 3px;
      text-align: center ;
  }
  .text-content h6{
      margin-bottom: 5px;
  }
  .card-text{
      font-size: 10px;
  }
  .card-2, .card-4{
      margin: 0;
  }
  .see{
      margin-top: 20px;
  }
  .card{
    text-align: center;
  }
}